@import '~@angular/material/theming';

body {
  margin: 0;
}

@include mat-core();

$localcast-primary: mat-palette(#BFB900);
$localcast-secondary: mat-palette(#7F7C00);

$localcast-app-theme: mat-light-theme($localcast-primary, $localcast-secondary);

@include angular-material-theme($localcast-app-theme);
