<div *ngIf="current$ | async as current">
  <div fxLayout="row">
    <div fxFlex="66%" class="mat-title no-margin">{{current.city}}, {{current.country}}
    </div>
    <div fxFlex class="mat-h3 no-margin">
      {{current.date | date:'EEEE'}}<br>
      {{current.date | date:'MMM d'}}{{getOrdinal(current.date)}}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: -48px;">
    <div fxFlex="55%"><img style="zoom: 175%; margin-bottom: 32px;" [src]='current.image'
        [alt]='current.description'>
    </div>
    <div fxFlex class="right no-margin">
      <p class="mat-display-3">{{current.temperature | number:'1.0-0'}}
        <span class="mat-display-1 unit">℉</span>
      </p>
    </div>
  </div>
  <div fxLayoutAlign="center">
    <div class="mat-caption">
      {{current.description}}
    </div>
  </div>
</div>
