<div *ngIf="current">
  <div fxLayout="row">
    <div fxFlex="66%" class="mat-title no-margin">
      {{ current.city }}, {{ current.country }}
    </div>
    <div fxFlex class="mat-subheading-2 no-margin">
      {{ current.date | date: 'EEEE MMM d' }}{{ getOrdinal(current.date) }}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: -48px;">
    <div fxFlex="55%">
      <img style="zoom: 175%; margin-bottom: 32px;" [src]="current.image" />
    </div>
    <div fxFlex class="right no-margin">
      <p class="mat-display-3">
        {{ current.temperature | number: '1.0-0' }}
        <span class="mat-display-1 unit">&#8457;</span>
      </p>
    </div>
  </div>
  <div fxLayoutAlign="center " class="mat-caption ">{{ current.description }}</div>
</div>